@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:wght@100&display=swap");

.weather-display-container {
  background-color: rgba(106, 102, 120, 0.3);
  margin-left: 50%;
  margin-top: 5%;
  border-radius: 20px;
  padding: 3em;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 30vw;
  height: 30vw;
  font-family: "Josefin Sans", sans-serif;

  transition: transform 0.5s ease-in-out;
  animation: moveLeft 15s linear infinite;
 
}


.date-text {
  margin-right: 70%;
  font-size: x-large;
  width: 21vw;
  height: 5vw;
  background-color: rgba(119, 114, 135, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  color: rgb(223, 215, 215);
  font-family: "Josefin Sans", sans-serif;
  animation: moveLeft 10s linear infinite;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;

}
.date-text:hover {
  transform: scale(1.1);
}

.icon-container {
  position: absolute;
}

.weather-theme {
  position: relative;
}

.text-container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  margin-right: 400px;
}

.weather-description-box {
  font-size: large;
  width: 13vw;
  height: 3vw;
  background-color: rgba(119, 114, 135, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.7);
  color: rgb(223, 215, 215);
  font-family: "Josefin Sans", sans-serif;
  float: right;
  position: relative;
  top: -5px;
  right: -10px;
  font-size: 20px;
  
  transform: scale(1);
  transition: transform 2s ease-in-out,
    font-size 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  animation: moveRight 10s linear infinite;
}
.weather-description-box:hover {
  transform: scale(1.1);
  font-size: xx-large;
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10%);
  }
  20% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

.location-box {
  color: white;
  font-size: large;
  width: 10vw;
  height: 3vw;
  background-color: rgba(119, 114, 135, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.6);
  color: rgb(223, 215, 215);
  font-family: "Josefin Sans", sans-serif;
  float: right;
  position: relative;
  top: -10px;
  right: -10px;
  font-size: 20px;
  transform: scale(1);
  transition: transform 2s ease-in-out,
    font-size 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  animation: moveLeft 10s linear infinite;
}
.location-box:hover {
  transform: scale(1);
  font-size: 25px;
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20%);
  }
  20% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}

.temperature-box {
  width: 20vw;
  height: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.4);
  color: rgb(223, 215, 215);
  font-family: "Josefin Sans", sans-serif;
  float: right;
  position: relative;
  top: -29rem;
  right: -3rem;
  font-size: 5rem;
  animation: moveRight 10s linear infinite;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.min-max-temperature-box{
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 20px 20px 40px -6px rgba(0, 0.4, 0.4, 0.5);
  color: rgb(223, 215, 215);
  font-family: "Josefin Sans", sans-serif;
  float: right;
  position: relative;
  top: -27.5rem;
  right: -1rem;
  font-size: 1.4rem;
  animation: moveLeft 10s linear infinite;
  margin-top: -45px;

}

.max-temp-icon{
  width: 4rem;
  height: 4rem;
  position: relative;
  top: 1.5rem
}

.min-temp-icon{
  width: 4rem;
  height: 4rem;
  position: relative;
  top: 1.5rem
}