.faSun{
    color: white;
}
  .faCloudSun{
    color: white;
  }
  .faCloudSunRain{
     color: white;
  }
  .faCloudMoonRain{
    color: white;
  }
  .faRainbow{
    color: white;
  }
  .faCloudMoon{
    color: white;
  }
  .faSnowflake{
    color: white;
  }
  .faSmog{
    color: white;
  }
  .faWind{
    color: white;
  }