.icon-class {
  width: 40%;
  height: 40%;
  margin-right: 35%;
  margin-top: 2%;
    animation: rotate 6s linear infinite;
    animation-fill-mode: forwards;
    transition: transform 0.7s ease;
    transform: scale(1);
  }
  .icon-class:hover {
    transform: scale(1.2);
    animation: pulse 2s ease-in-out infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .icon-class-2 {
    width: 40%;
    height: 40%;
    margin-right: 35%;
    margin-top: 2%;
    animation-fill-mode: forwards;
    transition: transform 0.7s ease;
    transform: scale(1);
    animation: moveUpAndDown 4s ease-in-out infinite;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
  }
  