
.rain-icon {
    color: blue;
}

.cloud-rain-icon {
    color: grey;
}
.heavy-rain-icon {
    color: darkblue;
}
.snow-icon {
    color: white;
}
.fog-icon {
    color: lightgray;
}
.mist-icon {
    color: lightgray;
}
.smoke-icon {
    color: lightgray;
}
.haze-icon {
    color: lightgray;
}
.sand-icon {
    color: sandybrown;
}
.dust-icon {
    color: lightgray;
}
.ash-icon {
    color: gray;
}
.squall-icon {
    color: purple;
}
.tornado-icon {
    color: red;
}
.clear-sky-icon {
    color: yellow;
}
.few-clouds-icon {
    color: lightgray;
}
.scattered-clouds-icon {
    color: gray;
}
.broken-clouds-icon {
    color: darkgray;
}
.overcast-clouds-icon {
    color: black;
}